<div class='country-card'>
  <img
    class='country-flag'
    src={{this.flags.svg}}
    alt='country-flag'
    width='70'
    height='45'
  />
  <h1 class='country-name'><b>{{this.name.common}}</b></h1>
</div>
<ul class='country-list'>
  <li class='country-list__item'><b>Capital: </b>{{this.capital}}</li>
  <li class='country-list__item'><b>Official name:
    </b>{{this.name.official}}</li>
  <li class='country-list__item'><b>Population: </b>{{this.population}}</li>
  <li class='country-list__item'><b>Languages: </b>{{this.languages}}</li>
</ul>